@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
}

.main-container {
  background-color: #474747;
  margin: auto;  
  margin-top: 100px;
    margin-bottom: 100px;
    width: 712px;
    height: 735px;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    color: white;
}
.jokeBtn {
  background-color: black;
  border: 0;
  width: 419px;
  height: 98px;
  font-size: 48px;
  color:white;
  border-radius: 20px;
}
img {
  width: 512px;
  height: 110px;
  margin-bottom: 150px;
}
h1 {
  margin-bottom: 100px;
}